<div class="border-right p-3 text-center" id="sideBar">
    <img src="../../../assets/images/leanTech.svg" alt="logo">
    
    <hr class="text-white">

    <div class="list-group list-reset">
        <a routerLink="" 
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }"
           class="list-group-item list-group-item-action">
        Inicio
      </a>

      <a routerLink="project" 
         routerLinkActive="active"
         class="list-group-item list-group-item-action">
        Projecto
      </a>
    </div>
</div>